/* Start Gloabl */

body {
	background-color: #f4f4f4;
}
.page-message {
	margin-top: 150px;
	margin-bottom: 25px;
    padding: 25px;
    background-color: #eee;
    font-size: 50px;
    color: #721c24;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #ddd;
}
/* End Gloabl */
/* Start Login Form */
.login {
	width: 300px;
	margin: 200px auto;
}
.login input {
	margin-bottom: 10px;
}
/* End Login Form */
/* Start Bootstrap Edit*/

.navbar{ padding: 0; }

.navbar-brand { 
	font-size: 1rem;
	margin: 0;
	padding: 1rem .5rem;
}
.navbar-nav .nav-link {
	padding: 1rem .5rem;
}
.navbar .navbar-nav .open > a { padding-left: 1rem;  transition: all .3s ease-in-out;}

.navbar .navbar-nav .open > a:focus,
.navbar .navbar-nav .open > a:hover,
.navbar-nav .dropdown-menu {
	color: #fff;
	background-color: #007bff;	
}
.navbar-nav .dropdown-menu {
	margin: 0;
	padding: 0;
	right: 0;
	left: unset;
}
.navbar-nav .dropdown-item {
	color: #fff;
	transition: all .2s ease-in-out;
}
.navbar-nav .dropdown-item:focus,
.navbar-nav .dropdown-item:hover {
	color: #333;
	background-color: #c1d4e8;
	padding-left: 32px;
}
.form-control { position: relative; }

.table { box-shadow: 0 2px 4px #ccc; }

.table-bordered,.table-bordered td, .table-bordered th { border: 1px solid #ced3d8; }

.table td {
	padding: .375rem;
	vertical-align: middle;
}
.table .btn {
	margin: 3px 0 3px 5px;
	padding: 7px 9px;
}
/* End Bootstrap Edit*/

/* Start Dashboard */
.main-status .status {
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 20px;
	font-size: 1.0625rem;
	font-weight: 600;
	border-radius: 10px;
	color: #fff;
	margin-bottom: 10px;
}
.main-status .status a { color: #fff; }

.main-status .status a:hover { text-decoration: none; }

.main-status .status span {
	display: block;
	font-size: 3.125rem
}
.latest {
	margin-top: 30px;
}
.latest .card {
	margin-bottom: 10px;
}
.latest .card .add-toggle {
	cursor: pointer;
}
.latest-card {
	margin-bottom: 0;
}
.latest-card li {
	overflow: hidden;
	padding: 6px;
	font-size: 22px;
}
.latest-card li:nth-child(odd) {
	background-color: #eee;
}
.latest-card li a {
	padding: 5px;
	margin-right: 5px;
}
.latest .comment {
	
}
.latest .comment .member-n,
.latest .comment .member-c {
	float: left;
}
.latest .comment .member-n {
	margin-right: 20px;
	width: 80px;
	text-align: center;
	position: relative;
	top: 5px;
}

.latest .comment .member-c {
	width: calc(100% - 100px);
	background-color: #e3e5e6;
	padding: 10px;
	position: relative;
}
.latest .comment .member-c:before {
	position: absolute;
	content: "";
	display: block;
	top: 8px;
	left: -26px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 13px;
	border-color: transparent #e3e5e6 transparent  transparent;

}
/* End Dashboard */

/* Start Member */
h1 {
	font-size: 50px;
	margin: 50px; 0;
	color: #666;
}
.show-pass{
	position: absolute;
    right: 21px;
    top: 11px;
}
/* End Member */

/* Start Category */
.categs  {
	margin-bottom: 40px;
}
.categs .add {
	margin-top: 20px;
}
.categs .cat {
	position: relative;
	overflow: hidden;
}
.categs .cat:hover .hidden-butoon {
	top: 10px;
}
.categs .cat .hidden-butoon {
	position: absolute;
	top: -85px;
	right: 15px;
	transition: all 0.5s ease-in-out;
}
.categs .cat .hidden-butoon a {
	margin-right: 5px;
}
.categs .cat h4, .categs .cat p {
	margin-bottom: 5px;
}
.categs .cat span {
	margin-right: 5px;
}
.categs .cat:last-of-type ~ hr { display: none; }

.categs .child-head {
	margin: 5px 0 10px 25px;
    color: #0087ff;
}
.categs .child-cat {
	margin: 5px 0 10px 25px;
}
.categs .child-cat li {
	margin-left: 20px;
	color: #21da31;
}
.categs .child-cat li:before {
	content: '- ';
}
/* End Category */
